## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy* 

**1.** Import pandas under the alias `pd`.

In [2]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [ ]:
pd.__version__

**3.** Print out all the version information of the libraries that are required by the pandas library.

In [ ]:
pd.show_versions()

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

**5.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [ ]:
df.info()

# ...or...

df.describe()

**6.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
df.iloc[:3]

# or equivalently

df.head(3)

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [ ]:
df.loc[:, ['animal', 'age']]

# or

df[['animal', 'age']]

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [ ]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

**9.** Select only the rows where the number of visits is greater than 3.

In [ ]:
df[df['visits'] > 3]

**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [ ]:
df[df['age'].isnull()]

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
df[df['age'].between(2, 4)]

**13.** Change the age in row 'f' to 1.5.

In [ ]:
df.loc['f', 'age'] = 1.5

**14.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [ ]:
df['visits'].sum()

**15.** Calculate the mean age for each different animal in `df`.

In [ ]:
df.groupby('animal')['age'].mean()

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
df.loc['k'] = [5.5, 'dog', 'no', 2]

# and then deleting the new row...

df = df.drop('k')

**17.** Count the number of each type of animal in `df`.

In [ ]:
df['animal'].value_counts()

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [ ]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [ ]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

In [ ]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

df.loc[df['A'].shift() != df['A']]

# Alternatively, we could use drop_duplicates() here. Note
# that this removes *all* duplicates though, so it won't
# work as desired if A is [1, 1, 2, 2, 1, 1] for example.

df.drop_duplicates(subset='A')

**23.** Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

df.sub(df.mean(axis=1), axis=0)

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? Return that column's label.

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

df.sum().idxmin()

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [ ]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

len(df) - df.duplicated(keep=False).sum()

# or perhaps more simply...

len(df.drop_duplicates(keep=False))

The next three puzzles are slightly harder.

**26.** In the cell below, you have a DataFrame `df` that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values. 

For each row of the DataFrame, find the *column* which contains the *third* NaN value.

You should return a Series of column labels: `e, c, d, h, d`

In [ ]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)


(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

**27.** A DataFrame has a column of groups 'grps' and and column of integer values 'vals': 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.  You should end up with the answer as follows:
```
grps
a    409
b    156
c    345
```

In [3]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# df.groupby('grps')['vals'].nlargest(3).sum(level=0)
df.groupby('grps')['vals'].nlargest(3).groupby('grps').sum()

grps
a    409
b    156
c    345
Name: vals, dtype: int64

**28.** The DataFrame `df` constructed below has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). 

For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

The answer should be a Series as follows:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

**29.** Show how you would handle missing values on given df. Use dropna, fillna and interpolate functions

```

In [1]:
import pandas as pd

df = pd.DataFrame({"A": [1, None, 3], "B": [4, 5, None]})

df_drop = df.dropna()
df_fill = df.fillna(0)
df_interp = df.interpolate(method='nearest')

**30.** On given dataframe show vectorized operation (*2) and usage of apply with lambda function. Which is faster?

```

In [2]:
df = pd.DataFrame({"A": [1, None, 3], "B": [4, 5, None]})


#vectorized
df["C"] = df["A"] * 2  # Fast vectorization

#apply function
df["D"] = df["A"].apply(lambda x: x * 2)  # Slower than vectorized

**31.** To do: Show reading of csv file and applying processing with chunksize

```

**32.** Use merge(), join(), and concat() to combine two provided dataframes

In [4]:
a = pd.DataFrame({"id":[1,2],"A":[10,20]})
b = pd.DataFrame({"id":[1,2],"B":[30,40]})

pd.merge(a, b, on="id")        # Merge on key
a.join(b.set_index("id"), on="id")  # Join using index
pd.concat([a, b], axis=0)      # Append rows

   id     A     B
0   1  10.0   NaN
1   2  20.0   NaN
0   1   NaN  30.0
1   2   NaN  40.0

**33.** Show knowledge of groupby(), multiple aggregations, and transform() functions.

In [7]:
df = pd.DataFrame({
    "team": ["A","A","B","B"],
    "score": [10,20,30,40],
    "time": [5,10,15,20]
})

#group by team and execute mean aggregation on score column and sum aggregation on time column
df_multiple_group = df.groupby("team").agg({"score": "mean", "time": "sum"})

# add score_mean column using transform function
df["score_mean"] = df.groupby("team")["score"].transform("mean")

**34.** On given dataframe:

In [16]:
df = pd.DataFrame({
    "id": ["1", "2", "3", "4"],
    "age": ["25", "30", "35", "40"],
    "salary": ["50,000", "60,000", "70,000", "80,000"],
    "department": ["HR", "IT", "IT", "Finance"],
    "join_date": ["2021-01-15", "2020-06-01", "2019-09-23", "2018-03-10"],
    "active": ["True", "False", "True", "True"]
})
# Parsing means interpreting strings into proper types (numbers, dates, booleans).

# Parse join_date to datetime format
df["join_date"] = df["join_date"] = pd.to_datetime(df["join_date"],format="%Y-%m-%d", errors="coerce")

In [17]:
#Parse salary column to numeric format
df["salary"] = pd.to_numeric(df["salary"].str.replace(",", ""),errors="coerce")

In [19]:
#convert age and id columns to int using astype, add error handling
df = df.astype({"age": "int","id": "int"},errors="ignore")

**35.** Convert column to categorogical

In [22]:
df = pd.DataFrame({
    "id": ["1", "2", "3", "4"],
    "age": ["25", "30", "35", "40"],
    "salary": ["50,000", "60,000", "70,000", "80,000"],
    "department": ["HR", "IT", "IT", "Finance"],
    "join_date": ["2021-01-15", "2020-06-01", "2019-09-23", "2018-03-10"],
    "active": ["True", "False", "True", "True"]
})

df["department"] = df["department"].astype("category")
df.dtypes
# show all categories
df["department"].cat.categories

Index(['Finance', 'HR', 'IT'], dtype='object')

Categorical (category) dtype

Category is a special pandas dtype for columns with repeated, limited values.

Benefits:
- Reduced memory usage
- Faster comparisons and grouping
- Optional ordering of values

**36.** Index exercises

In [1]:
import pandas as pd

data = {
    "country": ["USA", "USA", "Canada", "Canada"],
    "year": [2022, 2023, 2022, 2023],
    "sales": [100, 150, 90, 120],
    "profit": [30, 50, 25, 40]
}

df = pd.DataFrame(data)

#set a column year as an index
df_index = df.set_index("year")

In [2]:
#reset index
df_reset = df_index.reset_index()

In [3]:
#set multi index using columns country and year
df_multi = df.set_index(['country', 'year'])

In [4]:
#give example of selecting by multi index
df_multi.loc[('USA', 2022)]
df_multi.loc['Canada']
df_multi.loc[pd.IndexSlice[:, 2023], :]

              sales  profit
country year
USA     2023    150      50
Canada  2023    120      40

Useful multiindex operations
| Operation                       | Code                                                               |
| ------------------------------- | ------------------------------------------------------------------ |
| Swap multi-index levels         | `df_multi.swaplevel()`                                             |
| Remove one index level          | `df_multi.reset_index(level='year')`                               |
| Flatten MultiIndex column names | `df.columns = ['_'.join(col) for col in df.columns]` after groupby |

**37.** Handling duplicates

In [9]:
import pandas as pd

data = {
    "name": ["Alice", "Bob", "Charlie", "Bob", "Alice"],
    "email": [
        "alice@mail.com",
        "bob@mail.com",
        "charlie@mail.com",
        "bob@mail.com",     # duplicate
        "alice@mail.com"    # duplicate
    ],
    "age": [25, 30, 35, 31, 26]  # different values for duplicates
}

df = pd.DataFrame(data)

#detect duplicates on email column keep first 
dup_mask = df.duplicated(subset=['email'], keep='first')
df[dup_mask]

    name           email  age
3    Bob    bob@mail.com   31
4  Alice  alice@mail.com   26

In [10]:
#drop duplicates
df_cleaned = df.drop_duplicates(subset=['email'], keep='first')

**38.**  Switching boolean to reverse

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'age': [25, np.nan, 40, np.nan, 31]
})

#show reverse boolean of isna()
~df['age'].isna()

0     True
1    False
2     True
3    False
4     True
Name: age, dtype: bool

**39.** Adding nan values randomly

In [18]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 3)))

# Create NaN with probability of (20%)
mask = np.random.rand(*df.shape) < 0.2

df[mask] = np.nan
print(df)

          0         1         2
0       NaN  0.232571       NaN
1  0.798555       NaN  0.849784
2  0.347186       NaN  0.197941
3  0.393576  0.110136  0.237599
4       NaN  0.284514  0.796613

**40.** Map refresher

In [19]:
import pandas as pd

# Sample Series
s = pd.Series([1, 2, 3, 4, 5])

# Use map to squere each s series number
squared = s.map(lambda x: x**2)

In [23]:
# use dictionary to switch string to boolean
s = pd.Series(['yes','yes','no','yes'])
s_boolean = s.map({'yes':True,'no':False})

**41.** Apply refresher

In [25]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [10, 20, 30]
})

# Sum across columns for each row
row_sum = df.apply(lambda row: row.sum(), axis=1)
print(row_sum)

0    11
1    22
2    33
dtype: int64

| Feature     | `map()`                    | `apply()`                  |
| ----------- | -------------------------- | -------------------------- |
| Works on    | **Series only**            | **Series or DataFrame**    |
| Input       | dict, Series, or function  | function (very flexible)   |
| Output      | Series                     | Series or DataFrame        |
| Typical use | Element-wise value mapping | Row/column-wise operations |
| Speed       | Usually faster             | Slower (more general)      |

**42.** Filter refresher

In [30]:
# Sample DataFrame
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [25, 30, 35, 40],
    "salary": [50000, 60000, 70000, 80000],
    "department": ["HR", "IT", "IT", "Finance"],
    "start_year": [2018, 2016, 2015, 2012]
})
# Filter columns containing 'a'
filtered_cols = df.filter(like='m', axis=1)

In [31]:
#Filter specific columns (name and samary)
df_filter = df.filter(items=["name", "salary"])

In [32]:
#Use regex attribute
df_regex = df.filter(regex="^s")

In [35]:
#Filter rows instead of columns
df_rows = df.filter(items=[0, 2], axis=0)

**43.** Iterrows, index refresher

In [36]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","C"])


#loop throu the rows using iterrows function print column A value and number of the row

for i, row in df.iterrows():
  print(i,' - ',  row['A'])

0  -  1
1  -  4
2  -  7

In [39]:
#return index as a list
df.index.tolist()

[0, 1, 2]

In [40]:
#use nunique function to return number of unique values in each column
s_nunique = df.nunique()

**44.** Reading csv files

In [42]:
#read csv from url
url = 'https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv'
df_coffee = pd.read_csv(url)

In [45]:
#reading csv from file
path = './pandas/data/coffee.csv'
df_coffee = pd.read_csv(path)

CSV format is very popular but its flaw is that it takes a lot storage.\
Parquet is much lighter.

In [49]:
#load parquet file
path = './pandas/data/results.parquet'
df_results = pd.read_parquet(path)

In [51]:
#load excel file
path = './pandas/data/olympics-data.xlsx'
olympics_data = pd.read_excel(path)

In [52]:
#load specific excel sheet
path = './pandas/data/olympics-data.xlsx'
sheet = 'results'
olympics_data = pd.read_excel(path, sheet)

In [55]:
#check shape of olympics_data df
olympics_data.shape
#check size of olympic_data df
olympics_data.size

3392488

**45.** Sampling dataframe

In [57]:
import pandas as pd

coffee = pd.read_csv('./pandas/data/coffee.csv')

#return sample of coffee dataframe using seed
df_coffee_sample = coffee.sample(5, random_state=1)

**46.** Str, isin, query

In [62]:
import pandas as pd

bios = pd.read_csv('./pandas/data/bios.csv')
coffee = pd.read_csv('./pandas/data/coffee.csv')


#use str.contains function to select names that are equal to mateusz or kamil
bios_filtered = bios[bios['name'].str.contains('mateusz|kamil', case=False)]

In [60]:
#use isin method to select rows with born_country equal to UKR or POL
bios_filtered = bios[bios['born_country'].isin(['UKR','POL'])]

In [63]:
#use 'query' method to select rows with born_country == "USA" and born_city=="Seattle"
bios_query = bios.query('born_country == "USA" and born_city=="Seattle"')

**47.** np.where method, dropping columns, copying dataframe

In [64]:
import pandas as pd

coffee = pd.read_csv('./pandas/data/coffee.csv')
coffee['price'] = 4.99

#using np.where method add column new_price that will be 3.99 for Espresso and 5.99 for the rest
coffee['new_price'] = np.where(coffee['Coffee Type']=='Espresso',3.99,5.99)

In [67]:
#drop price column 
coffee_filtered = coffee.drop(columns=['price'])

In [70]:
#rename column new_price to price
coffee.rename(columns={'new_price':'price'},inplace=True)

In [68]:
#pandas is storing one version of df in memory 
coffee_new = coffee
coffee_new['amount'] = 5
coffee.head()

         Day Coffee Type  Units Sold  price  new_price  amount
0     Monday    Espresso          25   4.99       3.99       5
1     Monday       Latte          15   4.99       5.99       5
2    Tuesday    Espresso          30   4.99       3.99       5
3    Tuesday       Latte          20   4.99       5.99       5
4  Wednesday    Espresso          35   4.99       3.99       5

In [69]:
#to avoid it use copy function
coffee_new = coffee.copy()
coffee_new['storage'] = 1
coffee.head()

         Day Coffee Type  Units Sold  price  new_price  amount
0     Monday    Espresso          25   4.99       3.99       5
1     Monday       Latte          15   4.99       5.99       5
2    Tuesday    Espresso          30   4.99       3.99       5
3    Tuesday       Latte          20   4.99       5.99       5
4  Wednesday    Espresso          35   4.99       3.99       5

**48.** str.split method

In [71]:
import pandas as pd
import numpy as np

bios = pd.read_csv('./pandas/data/bios.csv')

#use str.split to select just first name from name column
bios['first_name'] = bios['name'].str.split(' ').str[0]

**49.** dt methods

In [72]:
#create born_datetime column converting born_date to datetime format
bios['born_datetime'] = pd.to_datetime(bios['born_date'])

#do the same but specifiying error handling and 
bios['born_datetime'] = pd.to_datetime(bios['born_date'],format="%Y-%m-%d")

In [73]:
#using dt method create born year column pasrsing year from born datetime column
bios['born_year'] = bios['born_datetime'].dt.year

In [74]:
#create column that is showing if given born_datetime year is leap or not
bios['leap_year'] = bios['born_datetime'].dt.is_leap_year

**50.** Write python function that will take row as an argument, and based on condition of height and weight categorizes sportsman as Lightweight, Middleweight or Heavyweigt


height_cm < 175 & wegith_kg < 70      Lightweight

height_cm < 185 or wegith_kg < 80     Middleweight

else                                  Heavyweigt

In [75]:
def categorize_athlete(row):
  if row['height_cm'] < 175 and row['weight_kg'] < 70:
    return 'Lightweight'
  elif row['height_cm'] < 185 or row['weight_kg'] <= 80:
    return 'Middleweight'
  else:
    return 'Heavyweight'
  
bios['Category'] = bios.apply(categorize_athlete, axis=1)

**51.** Merging data

In [86]:
bios = pd.read_csv('./pandas/data/bios.csv')
nocs = pd.read_csv('./pandas/data/noc_regions.csv')


#merge bios with nocs on born_country(bios) and NOC(nocs) - left join
bios_new = pd.merge(bios,nocs, left_on='born_country',right_on='NOC', how='left')

In [78]:
#add provided two dataframes (sql union)
usa = bios[bios['born_country']=='USA'].copy()
gbr = bios[bios['born_country']=='GBR'].copy()

new_df = pd.concat([usa,gbr])

In [87]:
#merge results and bios on the same column ()
results = pd.read_parquet('./pandas/data/results.parquet')

combined_df = pd.merge(results, bios, on='athlete_id', how='left')

**52.** Pivot method

In [88]:
#pivot guven table make Coffee Type columns and Day index
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')
coffee['price'] = np.where(coffee['Coffee Type']=='Espresso',3.99,5.99)
coffee['revenue'] = coffee['price'] * coffee['Units Sold']

pivot = coffee.pivot(columns='Coffee Type', index='Day',values='revenue')

**53.** Rank method

In [89]:
#create height_rank column which will show rank on sportsman height
bios['height_rank'] = bios['height_cm'].rank()

#sort bios using this created column
bios_sorted = bios.sort_values(['height_rank'],ascending=False)