In [1]:
import pandas as pd

coffee = pd.read_csv('./data/coffee.csv')
results = pd.read_parquet('./data/results.parquet')
bios = pd.read_csv('./data/bios.csv')

In [15]:
#accessing sample data
#ctrl+enter to run several times
coffee.sample(5)
#with seed
coffee.sample(5, random_state=1)

         Day Coffee Type  Units Sold
3    Tuesday       Latte          20
7   Thursday       Latte          30
6   Thursday    Espresso          40
2    Tuesday    Espresso          30
10  Saturday    Espresso          45

In [16]:
# to filter by rows and columns use loc
# coffee.loc[#Rows, #Columns]

coffee.loc[[0]]
coffee.loc[[0,1,5]]
coffee.loc[5:12]
coffee.loc[5:12,["Day","Units Sold"]]

          Day  Units Sold
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45

In [17]:
#iloc is similiar it just uses index numbers of rows and columns instead of names
coffee.iloc[0:5,[0,2]]
#so if index is numeric for rows in this case row section is similar to loc

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35

In [18]:
coffee.index = coffee["Day"]
# coffee.loc[1:2] returning error because index is string now
coffee.loc["Monday"]
coffee.loc["Monday":"Wednesday", "Units Sold"]

Day
Monday       25
Monday       15
Tuesday      30
Tuesday      20
Wednesday    35
Wednesday    25
Name: Units Sold, dtype: int64

In [19]:
coffee = pd.read_csv('./data/coffee.csv')
coffee.loc[1:3,"Units Sold"] = 10
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          10
2    Tuesday    Espresso          10
3    Tuesday       Latte          10
4  Wednesday    Espresso          35

In [21]:
# to get one value use at and iat
coffee.at[0,"Units Sold"]
# coffee.loc[0,"Units Sold"]

25

In [23]:
# if column name is just one word
coffee.Day
#if not
# coffee["Units Sold"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [24]:
# to sort dataframe
coffee.sort_values("Units Sold", ascending=False)
# to sort by two columns
coffee.sort_values(["Units Sold","Coffee Type"], ascending=[0,1])

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          10
1      Monday       Latte          10
3     Tuesday       Latte          10

In [25]:
#to iterate throu df
for index, row in coffee.iterrows():
  print(index)
  # print(row)
  print(row['Units Sold'])
  print("-")

0
25
-
1
10
-
2
10
-
3
10
-
4
35
-
5
25
-
6
40
-
7
30
-
8
45
-
9
35
-
10
45
-
11
35
-
12
45
-
13
35
-